.outer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
}

.container{
    max-width: 360px;
}

.panel {
    // min-height: 380px;
    box-shadow: 20px 20px 80px rgb(218, 218, 218);
    border-radius: 12px;
}

.panel-heading {
    text-align: center;
    margin-bottom: 10px
}

//forgot password
.fr {
    display: block;
    float: right;
}

//input selected background colour
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
}

#forgot {
    min-width: 100px;
    margin-left: auto;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: none
}

.form-inline label {
    padding-left: 10px;
    margin: 0;
    cursor: pointer
}

.btn {
    margin-top: 20px;
    border-radius: 15px
}

.input-field {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ddd;
    color: #4343ff
}

.input-field.error {
    border: 1px solid red;
    color: red;
}

input[type='text'],
input[type='password'] {
    border: none;
    outline: none;
    box-shadow: none;
    width: 100%
}

.fa-eye-slash.btn {
    border: none;
    outline: none;
    box-shadow: none
}

img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: relative
}

.bordert {
    border-top: 1px solid #aaa;
    position: relative
}

.bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
}

@media(max-width: 360px) {
    #forgot {
        margin-left: 0;
        padding-top: 10px
    }
    body {
        height: 100%
    }
    .container {
        margin: 30px 0
    }
    .bordert:after {
        left: 25%
    }
}


/* Added Css for eye icon button */

.bg-white {
    background: none;
    border: none;
}